name: Hugo build and deploy
on:
    push:
        branches:
            - main
    workflow_dispatch:
permissions:
    contents: read
    pages: write
    id-token: write
defaults:
    run:
        shell: bash
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            HUGO_VERSION: 0.154.1
            TZ: Asia/Shanghai
        steps:
            - name: Add Deploy SSH key
              uses: webfactory/ssh-agent@v0.5.4
              with:
                  ssh-private-key: ${{ secrets.SUBMODULE_DEPLOY_KEY }}

            - name: Checkout
              uses: actions/checkout@v5
              with:
                  submodules: recursive
                  fetch-depth: 0
                  persist-credentials: false

            - name: Setup Pages
              uses: actions/configure-pages@v4

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v3
              with:
                  hugo-version: ${{ env.HUGO_VERSION }}
                  extended: true

            - name: Build with Hugo
              run: |
                  hugo --gc --minify

            - name: Archive Artifact
              shell: sh
              run: |
                  tar \
                    --dereference --hard-dereference \
                    --directory "./public" \
                    -cvf "$RUNNER_TEMP/artifact.tar" \
                    .

            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: github-pages
                  path: ${{ runner.temp }}/artifact.tar
                  retention-days: 1
                  if-no-files-found: error
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
